*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header {
    /* border: 5px solid black; */
    background-color: #0D1117;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    /* padding: 2px; */
}

.search-bar {
    width: 320px;
    height: 30px;
    /* max-width: 700px; */
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 5px;
    backdrop-filter: blur (4px) saturate(180%);

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder {
    font-size: 0.7em;
    color: #cac7ff;
}

.search-bar img {
    width: 15px;
}

.about {
    position: relative;
}

/* .homelist .allhome{
    color: aqua;
} */
.homelist .allhome {
    color: white;
}

.dropdown {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.about:hover .dropdown {
    display: block;
}

.dropdown li {
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 20px;
    /* padding:3px; */
}

.dropdown li:hover a {
    color: blue;
}

.dropflex {
    display: flex;
    gap: 3em;
}

.dropflex2 {
    border-left: 2px solid rgb(116, 97, 97);
    padding-left: 30px;
}

.dropflex2 li {
    padding-bottom: 10px;
}

.solu1 li {
    padding-bottom: 7px;
}

.solu2 li {
    padding-bottom: 7px;
}

.solu2 {
    padding-top: 20px;
}

.company {
    position: relative;
}

.comp {
    position: absolute;
    border-radius: 10px;
    width: 550px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.allsolutions {
    padding: 10px 10px;
    margin-top: 60px;
    background-color: rgb(172, 165, 165);
}

.company:hover .comp {
    display: block;
}

.comp li {
    margin-top: 10px;
}

.comp li:hover a {
    color: blue;
}

.source {
    position: relative;
}

.sourc {
    position: absolute;
    border-radius: 10px;
    width: 320px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.source:hover .sourc {
    display: block;
}

.sourc li:hover a {
    color: blue;
}

.opensource {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.resco li {
    margin-bottom: 10px;
}

.resco li:hover a {
    color: blue;
}
.resco {
    position: absolute;
    border-radius: 10px;
    width: 280px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.resources:hover .resco {
    display: block;
}

.resco li {
    margin-bottom: 10px;
}

.left-side {
    display: flex;
    gap: 2em;
    align-items: center;
    /* border: 5px solid black; */
}

.left-side .menu-list {
    display: flex;
    gap: 1em;
}

.right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    font-family: 'Avenir', sans-serif;
    color: #222222;
    font-size: 16.5px;
}

.right-side p {
    color: #222222;
    font-size: 16.5px;
    font-weight: 300;
    font-family: 'Avenir', sans-serif;
}

.right-side button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.right-side button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.right-side .b1 {
    border: none;
}

.right-side .b1 a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

.fa-bars {
    font-size: 30px;
    color: white;
    /* display: none !important; */
}

.fa-magnifying-glass {
    color: white;
    display: none !important;
}

.l1 {
    line-height: 5px;
}

.head2{
    background-color: #0D1117;
}
.newhead {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.newhead button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.newhead button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.head2 {
    display: none;
}

.herosect{
   background-image: url('../images/mercado-libre-762f679589f2.svg');
}

.sect1 {
    width: 80%;
    margin: 150px auto;
    /* text-align: center; */
}

.sect1 h1 {
    color: white;
    font-size: 4em;
    /* text-align: center; */
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.actionbut {
    text-decoration: none;
    color: white;
    width: 30px;
    height: 0px;
    padding: 10px 10px;
    border: 2px solid green;
    border-radius: 60px;
    font-size: 1.2em;

}

.sect1 p {
    color: white;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", serif;
}

.herobut2 {
    display: flex;
    justify-content: start;
    gap: 1.4em;
    text-decoration: none;
    padding-top: 50px;
}

.herobut2 a {
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.herobut2 .b1 {
    background-color: white;
    color: black;

}
.firstline{
    width: 85%;
    margin: 100px auto;
}
.firstline h1{
    font-size: 4em;
}
.sect2{
    width: 90%;
    margin: auto;

}
.section2{
    display: grid;
    grid-template-columns:1fr 4fr;

    
}
.part1 li{
    list-style: none;
    
}
.part1 li a{
    color: rgb(50, 50, 50);

}
.box1 img{
    border-radius: 20px;
}
.part1 .topics{
    color: #080A41;
}
.b11 p{
    color: #6E7681;
    padding-bottom: 50px;
    font-size: 1.1em;
}
.section2 h2{
    color: white;
    font-size: 2em;
    padding: 30px 30px;

}
.b11{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2em;
    justify-content: space-between;
}
.box1{
    border: none;
    border-radius: 30px;
    /* width: 580px; */
    /* width: max-content; */
    height: max-content;
    /* height: max-content; */
    color: white;
    padding: 40px 40px;
    text-wrap: wrap;
    background-color: rgb(255, 255, 255);
}
.box1:hover{
    transform: scale(1.1); 
}
.box1 h3{
    margin-top:40px;
    margin-bottom:20px;
    color: black;
}
.part1 ul{
    margin-left: 40px;
}
.section2 a{
    color: blue;
    margin-top:50px;
    text-decoration: none;
}
/* .b11 .p1{
    padding-bottom: 70px;
}
.b11 .p2{
    padding-bottom: 25px;
} */
.part1 ul a{
    line-height: 50px;
}

footer{
    color: black;
    list-style: none;
   
}
.last{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.last li{
   list-style: none;
   line-height: 2em;
}
.last a{
    color: black;
    text-decoration: none;
}
.lastline{
    display: flex;

    gap: 2.5em;
}
.lastline2{
    display: flex;
    gap: 2em;

}
.footbut{
    padding-top: 20px;

}
.footbut a {
    color: black;
    border: 1px solid rgb(30, 27, 27);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
  
}


@media(max-width:1270px) {
    .search-bar {
        display: none !important;
    }

    .fa-magnifying-glass {
        display: block !important;
    }
    header {
        background-color: #0D1117;
        padding: 15px;
    }
}

@media(max-width:1012px) {
    header {
        display: none;
    }

    .head2 {
        display: block;
    }
    .sect1 h1{
        font-size: 3em;
    }
    .section2{
       grid-template-columns: repeat(1, 2fr);
    }
    .last{
        flex-direction: column;
        gap: 10em;
    }
    /* .part1 ul{
        display: block;
    } */
    .firstline{
        padding-left: 20px;
    }

}
@media(max-width:1012px) {
    .b11{
        grid-template-columns: repeat(1, 1fr);
    }
    box1{
        padding: 40px 20px;
    }
}
@media(max-width:550px) {
    .lastline2{
        flex-direction: column;
        gap: 4em;
    }
    .b11{
        width: 100%;
        margin: auto;
    }
    box1{
        padding: 5px 5px;
    }
}