*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header {
    /* border: 5px solid black; */
    background-color: #25292E;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    /* padding: 2px; */
}

.search-bar {
    width: 320px;
    height: 30px;
    /* max-width: 700px; */
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 5px;
    backdrop-filter: blur (4px) saturate(180%);

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder {
    font-size: 0.7em;
    color: #cac7ff;
}

.search-bar img {
    width: 15px;
}

.about {
    position: relative;
}

/* .homelist .allhome{
    color: aqua;
} */
.homelist .allhome {
    color: white;
}

.dropdown {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.about:hover .dropdown {
    display: block;
}

.dropdown li {
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 20px;
    /* padding:3px; */
}

.dropdown li:hover a {
    color: blue;
}

.dropflex {
    display: flex;
    gap: 3em;
}

.dropflex2 {
    border-left: 2px solid rgb(116, 97, 97);
    padding-left: 30px;
}

.dropflex2 li {
    padding-bottom: 10px;
}

.solu1 li {
    padding-bottom: 7px;
}

.solu2 li {
    padding-bottom: 7px;
}

.solu2 {
    padding-top: 20px;
}

.company {
    position: relative;
}

.comp {
    position: absolute;
    border-radius: 10px;
    width: 550px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.allsolutions {
    padding: 10px 10px;
    margin-top: 60px;
    background-color: rgb(172, 165, 165);
}

.company:hover .comp {
    display: block;
}

.comp li {
    margin-top: 10px;
}

.comp li:hover a {
    color: blue;
}

.source {
    position: relative;
}

.sourc {
    position: absolute;
    border-radius: 10px;
    width: 320px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.source:hover .sourc {
    display: block;
}

.sourc li:hover a {
    color: blue;
}

.opensource {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.resco li {
    margin-bottom: 10px;
}

.resco li:hover a {
    color: blue;
}
.resco {
    position: absolute;
    border-radius: 10px;
    width: 280px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.resources:hover .resco {
    display: block;
}

.resco li {
    margin-bottom: 10px;
}

.left-side {
    display: flex;
    gap: 2em;
    align-items: center;
    /* border: 5px solid black; */
}

.left-side .menu-list {
    display: flex;
    gap: 1em;
}

.right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    font-family: 'Avenir', sans-serif;
    color: #222222;
    font-size: 16.5px;
}

.right-side p {
    color: #222222;
    font-size: 16.5px;
    font-weight: 300;
    font-family: 'Avenir', sans-serif;
}

.right-side button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.right-side button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.right-side .b1 {
    border: none;
}

.right-side .b1 a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

.fa-bars {
    font-size: 30px;
    color: white;
    /* display: none !important; */
}

.fa-magnifying-glass {
    color: white;
    display: none !important;
}

.l1 {
    line-height: 5px;
}

.head2{
    background-color: #0D1117;
}
.newhead {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.newhead button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.newhead button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.head2 {
    display: none;
}
.firstsect{
    background-image: url('../images/Wallpaper.jpeg');
    background-size: cover;
    contain: content;
    width: 100%;
    margin: auto;
}
.sect1 {
    width: 80%;
    margin: 150px auto;
    /* text-align: center; */
}

.sect1 h1 {
    color: white;
    font-size: 4em;
    /* text-align: center; */
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding-bottom: 30px;
}

.actionbut {
    text-decoration: none;
    color: white;
    width: 30px;
    height: 0px;
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 60px;
    font-size: 1.2em;

}

.sect1 p {
    color: white;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", serif;
    padding-bottom: 40px;
}

.herobut2 {
    display: flex;
    /* justify-content: center; */
    gap: 1.4em;
    text-decoration: none;

}

.herobut2 a {
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.herobut2 .b1 {
    background-color: white;
    color: black;

}

.sect2{
    width: 85%;
    margin: auto;
}


/* .sect5 {
    width: 85%;
    margin: auto;
    text-align: center;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
} */
.sect2-text{

    padding: 100px 10px;
}
.sect2-text h2{
    font-size: 2.5em;
    padding-bottom: 20px;

}
.sect2-box{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2em;
    margin-bottom: 10px;
}
.card {
    border: none;
    border-radius: 30px;
    /* width: 350px; */
    /* height: 300px; */
    height: max-content;
    color: #24292F;
    padding: 50px 40px;
    text-wrap: wrap;
    background-color: #F6F8FA;

}
.card h3{
    padding: 20px 0px;
}
.card p {
    color:#57607D;
    /* padding-bottom: 20px; */
}


.sect3 {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    gap: em;

}

.sect3 p {
    font-family: "Plus Jakarta Sans", serif;

    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6E7681;
    padding: 30px 0px;
}

.sec3-text h2 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 2.4em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.sec3-text li{
    list-style: circle;
    font-size: 1.2em;
    
}
.sec3-text a{
    color: blue;
}






.sect4 {
    width: 85%;
    margin: auto;
}

.sect4 img {
    border-radius: 20px;
}
.sect5{
    width: 85%;
    margin: auto;
}
.section5{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    padding-top: 80px;

}
.section5 p{
    font-size: 2.2em;
}
.section5 li{
    
    text-align: justify;
    padding-left: 20px;
}
.section5 .li1{
    padding-bottom: 30px;
    border-left: 2px solid black;

}
/* .section5 span{
    margin-left: 50px;
} */



.sec3-text {
    width: 40%;
    color: black;
}

.sect6 {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    gap: em;

}

.sect6 p {
    font-family: "Plus Jakarta Sans", serif;

    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6E7681;
    padding: 30px 0px;
}

.sec6-text h2 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 2.4em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.sec6img img {
    border-radius:20px;
}
.sec6-text li{
    list-style: circle;
    font-size: 1.2em;
    
}
.sec6-text a{
    color: blue;
}

.section7{
    width: 85%;
    margin:100px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-size: cover;
    contain: content;
    background-color: white;

}

.section7 h1 {
    color: black;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
   
}
.section7 p {
    color: #6E7681;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", serif;
}

.herobut7 {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    text-decoration: none;
}

.herobut7 a {
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.herobut7 .b1 {
    background-color: black;
    color: white;

}
.herobut7 .b2 {
    background-color: white;
    color: black;
    border: 2px solid black;

}
.seco7{
    background-color: #F6F8FA;
}
.seco8{
    background-color: #F6F8FA;
}
.section8{
    width: 85%;
    margin: auto;
    
    

}
.section8 .go{
    font-size: 3em;
    text-align: center;
    padding: 30px 0px;
}
.sect8{
    
    /* text-align: center; */
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 2fr);
}

.box {
    border: none;
    border-radius: 30px;
    /* width: 350px; */
    height: 300px;
    color: black;
    padding: 20px 40px;
    text-wrap: wrap;
    background-color: white;
    margin-bottom: 130px;
}

.box p {
    padding-bottom: 40px;
    color: rgb(165, 165, 165);
}
.box a{
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(49, 49, 232);
}
footer{
    color: black;
    list-style: none;
   
}
.last{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.last li{
   list-style: none;
   line-height: 2em;
}
.last a{
    color: black;
    text-decoration: none;
}
.lastline{
    display: flex;

    gap: 2.5em;
}
.lastline2{
    display: flex;
    gap: 2em;

}
.footbut{
    padding-top: 20px;

}
.footbut a {
    color: black;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
  
}




@media(max-width:1270px) {
    .search-bar {
        display: none !important;
    }

    .fa-magnifying-glass {
        display: block !important;
    }
    header {
        background-color: #0D1117;
        padding: 15px;
    }
}
@media(max-width:1012px) {
    header {
        display: none;
    }

    .head2 {
        display: block;
    }
    .sect1 h1{
        font-size: 3em;
    }

    .last{
        flex-direction: column;
        gap: 10em;
    }
    /* .part1 ul{
        display: block;
    } */
    .firstline{
        padding-left: 20px;
    }
    .sect2-box{
        grid-template-columns: repeat(2, 2fr);}
        .sect6 img{
            width: 70%;
            overflow: hidden;

        }
        .sect8{
            grid-template-columns: repeat(2, 2fr);
        }
        .last{
            flex-direction: column;
            gap: 4em;
        }
}
@media(max-width:768px) {
   
    
    .herobut2{
        flex-direction: column;
    }
    .sect2-box{
        grid-template-columns: repeat(1, 2fr);
    }
    .sect2-text h2{
        font-size: 1.6em;  
    }
    .sect3{
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .sec3-text{
        width: 90%;
        margin: auto;
    }
    .section5{
        flex-direction: column;
    }
    .sect6{
        width: 90%;
        margin: auto;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .sec6-text{
        width: 90%;
        margin: auto;
    }
    .sec6-text h2{
        padding-top: 30px;
    font-size: 1.8em;    
    }
    .sec6-text h2 br{
        display: none;
    }
    .sec6-text li{
        font-size: 1em; 
        padding-bottom: 15px;   
        }
    .sect6 img{
        width: 100%;
    }
    .section8{
        width: 60%;
        margin: auto;
    }
    .sect8{
        grid-template-columns: repeat(1, 2fr);
    }
        
}

@media(max-width:767px){
    .sect3{
        flex-direction: column;
    }
    .sect3 img{
        width: 100%;
    }
    .section7 h1{
        font-size:2em ;
    }
}

@media(max-width:550px) {
    .sect1 h1{
        font-size: 2em;
    }
    .lastline2{
        flex-direction: column;
        gap: 4em;
    
    }
    .herobut7{
        flex-direction: column;
    }
    .sect1 h1 br{
        display: none;
    }
    .section5 p{
        font-size: 1.4em;
    }
    .section5 p br{
        display: none;
    }
    .section7{
        width: 85%;
        margin: auto;}
        .section8{
            width: 90%;
            margin: auto;
        }
        .box{
            height: max-content;
            /* width: 400px; */
        }
}
