*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header {
    /* border: 5px solid black; */
    background-color: #0D1117;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    /* padding: 2px; */
}

.search-bar {
    width: 320px;
    height: 30px;
    /* max-width: 700px; */
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 5px;
    backdrop-filter: blur (4px) saturate(180%);

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder {
    font-size: 0.7em;
    color: #cac7ff;
}

.search-bar img {
    width: 15px;
}

.about {
    position: relative;
}

/* .homelist .allhome{
    color: aqua;
} */
.homelist .allhome {
    color: white;
}

.droopdown {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.about:hover .droopdown {
    z-index: 999;
    display: block;
}

.droopdown li {
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 20px;
    /* padding:3px; */
}

.droopdown li:hover a {
    color: blue;
}

.dropflex {
    display: flex;
    gap: 3em;
}

.dropflex2 {
    border-left: 2px solid rgb(116, 97, 97);
    padding-left: 30px;
}

.dropflex2 li {
    padding-bottom: 10px;
}

.solu1 li {
    padding-bottom: 7px;
}

.solu2 li {
    padding-bottom: 7px;
}

.solu2 {
    padding-top: 20px;
}

.company {
    position: relative;
}

.comp {
    position: absolute;
    border-radius: 10px;
    width: 550px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.allsolutions {
    padding: 10px 10px;
    margin-top: 60px;
    background-color: rgb(172, 165, 165);
}

.company:hover .comp {
    display: block;
}

.comp li {
    margin-top: 10px;
}

.comp li:hover a {
    color: blue;
}

.source {
    position: relative;
}

.sourc {
    position: absolute;
    border-radius: 10px;
    width: 320px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.source:hover .sourc {
    display: block;
}

.sourc li:hover a {
    color: blue;
}

.opensource {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.resco li {
    margin-bottom: 10px;
}

.resco li:hover a {
    color: blue;
}
.resco {
    position: absolute;
    border-radius: 10px;
    width: 280px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.resources:hover .resco {
    display: block;
}

.resco li {
    margin-bottom: 10px;
}

.left-side {
    display: flex;
    gap: 2em;
    align-items: center;
    /* border: 5px solid black; */
}

.left-side .menu-list {
    display: flex;
    gap: 1em;
}

.right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    font-family: 'Avenir', sans-serif;
    color: #222222;
    font-size: 16.5px;
}

.right-side p {
    color: #222222;
    font-size: 16.5px;
    font-weight: 300;
    font-family: 'Avenir', sans-serif;
}

.right-side button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.right-side button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.right-side .b1 {
    border: none;
}

.right-side .b1 a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

.fa-bars {
    font-size: 30px;
    color: white;
    /* display: none !important; */
}

.fa-magnifying-glass {
    color: white;
    display: none !important;
}

.l1 {
    line-height: 5px;
}

.head2{
    background-color: #0D1117;
}
.newhead {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.newhead button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.newhead button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.head2 {
    display: none;
}

.sect1 {
    width: 85%;
    margin: 120px auto;

}

.sect1 h1 {
    color: black;
    font-size: 4em;

    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding-bottom: 30px;
}

.actionbut {
    text-decoration: none;
    color: black;
    width: 30px;
    height: 0px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 60px;
    font-size: 1.2em;

}

.herobut2 {
    display: flex;

    gap: 1.4em;
    text-decoration: none;
    padding-bottom: 100px;

}

.herobut2 a {
    color: black;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.herobut2 .b1 {
    background-color: black;
    color: white;

}

.section2 {
    width: 85%;
    margin: 100px auto;

}

.section2 h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.sect2grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
}

.sect2grid .card {
    border: none;
    border-radius: 40px;
    height: max-content;

    /* height: 300px; */
    color: black;
    padding: 30px 15px;
    text-wrap: wrap;
    background-color: #f5f7fa;

}

.card h3 {
    padding: 10px 0px;
    font-size: 1.2em;
}

.card p {
    padding: 10px 0px;
    color: rgb(165, 165, 165);
}

.sect3 {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    padding-bottom: 50px;

}

.sect3 p {
    font-family: "Plus Jakarta Sans", serif;

    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6E7681;
    padding: 20px 0px;
}

.sec3-text h2 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 2.4em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.sect3 a {
    color: blue;
    text-decoration: none;
}
.sec3img{
    width: 55%;
}
/* .sec3-text{
    width: 100%;
} */

.sect6 {
    width: 85%;
    margin: auto;
    
}
.sect6 .mspan {
    color: black;
    font-size: 2.4em;
    /* text-align: center; */
    /* justify-content: center; */
    padding-bottom: 30px;

}
/* .shopify{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.siwan {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    /* justify-content: center; */
    padding-bottom: 180px;
}

.siwan span {
    display: block;
    gap: 2em;

}
.shop{
    width: 80%;
    margin: auto;
}
.section7{
    width: 85%;
    margin:1px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    /* background-size: cover;
    contain: content; */
    background-color: white;
    

}
.secto1 {
    width: 85%;
    margin: 100px auto;

}

.section7 h1 {
    color: black;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
   
}
.section7 p {
    color: #6E7681;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", serif;
}

.herobut7 {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    text-decoration: none;
}

.herobut7 a {
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    
}

.herobut7 .b1 {
    background-color: black;
    color: white;

}
.herobut7 .b2 {
    background-color: white;
    color: black;
    border: 2px solid black;

}

.section6{
    background-color: #F6F8FA;
}
.seco7{
    padding-bottom: 140px;
   
    background-color: #F6F8FA;
}



.seco8{
    background-color: #F6F8FA;
}
.section8{
    width:85%;
    margin: auto;
    
    

}
.section8 .go{
    font-size: 3em;
    text-align: center;
    padding: 30px 0px;
}
.sect8{
    width: 87%;
    margin: auto;
    
    /* text-align: center; */
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 2fr);
}
.lov{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.lov span{
    padding: 7px 20px;
    border-radius: 50px;

    border: 2px solid black;
}
.box {
    border: none;
    border-radius: 30px;
    /* width: 350px; */
    /* height: 300px; */
    height: max-content;
    color: black;
    padding: 20px 20px;
    text-wrap: wrap;
    background-color: white;
    /* margin-bottom: 10px; */
}
.box h3{
    font-size: 1em;
}
.box p {
    padding-bottom: 30px;
    color: rgb(165, 165, 165);
}
.box a{
    text-decoration: none;
    font-size: 1.1em;
    color: rgb(49, 49, 232);
    
}
/* .middle a{
    position: relative;

}
.middle a::before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0%;
height: 3px;
color: rgb(10, 90, 122);
transition: all .5s;
}
.middle a:hover:before{
    width: 100%;
} */


.section9{
    padding: 80px 0px;
    background-color: #F6F8FA;
}
.sect9{
    width: 60%;
    margin:100px auto;
    background-color: #F6F8FA;
   
}
.sect9 h3{
    font-size: 2em;
    text-align: center;

}





footer{
    color: black;
    list-style: none;
   
}
.last{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.last li{
   list-style: none;
   line-height: 2em;
}
.last a{
    color: black;
    text-decoration: none;
}
.lastline{
    display: flex;
    gap: 2.5em;
    padding-bottom: 90px;
}
.lastline2{
    display: flex;
    gap: 2em;

}
.footbut{
    padding-top: 20px;

}
.footbut a {
    color: black;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
  
}
footer li a:hover{
    color: blue;
}
.bottomline{
    background-color: #f5f7fa;

}
.icondiv{
    width: 85%;
    margin: auto;

}
.downlogoo li a{
    text-decoration: none;
    
    

}
.downlogoo ul a{
    color: black;
    text-decoration: none;
}
.downlogoo ul{
    
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 20px 10px;
    font-size: .8em;
    color: black;
    
    
}
.downlogoo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media(max-width:1270px) {
    .search-bar {
        display: none !important;
    }

    .fa-magnifying-glass {
        display: block !important;
    }

    header {
        background-color: #0D1117;
        padding: 15px;
    }

    .downlogoo ul {
        flex-wrap: wrap;
    }
}
@media(max-width:1012px) {
    header {
        display: none;
    }

    .head2 {
        display: block !important;
    }
    .sect1 h1{
        font-size: 3em;
    }
    .sect1 h1 br{
        display: none;
    }
    .sect2grid{
        grid-template-columns: repeat(2, 2fr);
    }
    .section2 h2{
        font-size: 2em;
    }

    .last{
        flex-direction: column;
        gap: 4em;
    }

    .sec3-text{
        width: 50%;
    }
    .sec3-text h2{
        font-size: 1.5em;

    }
    .sec3-text p br{
        display: none;

    }
    .sec3-text p{
        font-size: .9em;
        flex-wrap: wrap;

    }
    .sec3img{
        width: 90%;
    }
    .sect8{
        width: 100%;
        grid-template-columns: repeat(2, 2fr);
    }
    .section8 .go{
        width: 100%;
        font-size: 2em;
    }
    .section8{
        width: 90%;
    }

}
@media(max-width:767px) {
    .section2 h2 br{
        display: none;
    }
    .sect3{
        flex-direction: column;
    }
    .sec3-text{
        width: 100%;
    }
    .sec3img{
        width: 100%;
    }
    .diff3{
        flex-direction: column-reverse;
    }
    .sect2grid{
        grid-template-columns: repeat(1, 2fr);
    }
    .shop{
        width: 100%;
        margin: auto;
    }
    .shop .mspan{
        font-size: 1.8em;
    }
    .mspan br{
        display: none;
    }
    .section7{
        width: 95%;
    }
    .section7 h1{
        padding: none;
        font-size: 2em;
    }
    .section7 h1 br{
        display: none;
    } 
    .sect8{
        width: 80%;
        grid-template-columns: repeat(1, 2fr);
    }
    .sect9{
        width: 90%;
    }
    .downlogoo {
        flex-wrap: wrap;
    }
}

@media(max-width:570px) {
    .sect1 h1{
        font-size: 2em;
    }
    .lastline2{
        flex-direction: column;
        gap: 4em;
    
    }
    .herobut2{
        flex-direction: column;
    }
    .herobut2 .b1, .b2{
        width: max-content;
    }
    .section2 h2{
        font-size: 1.5em;
    }
    .herobut7{
        flex-direction: column;
    }
    .section8 .go{
        font-size: 1.5em;
        text-align: start;
        flex-wrap: wrap;
    }
}


