* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif;
}

header {
    
    background-color: #080A41;
    padding: 15px;
}

body {
    
    background-color: #151B23 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    
}

.search-bar {
    width: 320px;
    height: 30px;
    
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 5px;
    backdrop-filter: blur (4px) saturate(180%);

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder {
    font-size: 0.7em;
    color: #cac7ff;
}

.search-bar img {
    width: 15px;
}

.about {
    position: relative;
}


.homelist .allhome {
    color: white;
}

.dropdown {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.about:hover .dropdown {
    display: block;
}

.dropdown li {
    margin-top: 15px;
    padding-bottom: 10px;
    
}

.dropdown li:hover a {
    color: blue;
}

.dropflex {
    display: flex;
    gap: 3em;
}

.dropflex2 {
    border-left: 2px solid rgb(116, 97, 97);
    padding-left: 30px;
}

.dropflex2 li {
    padding-bottom: 10px;
}

.solu1 li {
    padding-bottom: 7px;
}

.solu2 li {
    padding-bottom: 7px;
}

.solu2 {
    padding-top: 20px;
}

.company {
    position: relative;
}

.comp {
    position: absolute;
    
    border-radius: 10px;
    width: 550px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    
    z-index: 2;
}

.allsolutions {
    padding: 10px 10px;
    margin-top: 60px;
    background-color: rgb(172, 165, 165);
}

.company:hover .comp {
    display: block;
}

.comp li {
    margin-top: 10px;
}

.comp li:hover a {
    color: blue;
    
}

.source {
    position: relative;
}

.sourc {
    position: absolute;
    
    border-radius: 10px;
    width: 320px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.source:hover .sourc {
    display: block;
}

.sourc li:hover a {
    color: blue;
}

.opensource {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}


.resco li {
    margin-bottom: 10px;
}

.resco li:hover a {
    color: blue;
}

 .resco {
    position: absolute;
    
    border-radius: 10px;
    width: 280px;
    height: max-content;
    background-color: white;
    padding: 15px;
    display: none;
    z-index: 2;
}

.resources:hover .resco {
    display: block;
}

.resco li {
    margin-bottom: 10px;
}

.left-side {
    display: flex;
    gap: 2em;
    align-items: center;
    
}

.left-side .menu-list {
    display: flex;
    gap: 1em;
}

.right-side {
    display: flex;
    gap: 1em;
    align-items: center;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    font-family: 'Avenir', sans-serif;
    color: #222222;
    font-size: 16.5px;
}

.right-side p {
    color: #222222;
    font-size: 16.5px;
    font-weight: 300;
    font-family: 'Avenir', sans-serif;
}

.right-side button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.right-side button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.right-side .b1 {
    border: none;
}

.right-side .b1 a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

.fa-bars {
    font-size: 30px;
    color: white;
    
}

.fa-magnifying-glass {
    color: white;
    display: none !important;
}

.l1 {
    line-height: 5px;
}

.newhead {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

}

.newhead button {
    padding: 9px 9px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}

.newhead button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.head2 {
    display: none;
}

.firstsecc{
    background-color: #151B23;
}
.input10 {
    width: 610px;
    height: max-content;
    background-color: white;
    border-radius: 9px;
}

.input10 input {
    width: 66%;
    
    height: 55px;
    font-size: 16px;
    border: none;
    padding: 15px;
    color: black;
    border-radius: 9px;
    border: 2px solid black;
    background-color: #f5f5f5;
}

.ddd {
    font-size: 8em;
}

.input10 button {
    border: 0;
    outline: 0;
    width: 200px;
    color: white;
    cursor: pointer;
    background: green;
    border-radius: 7px;
    padding: 15px 35px;
    font-weight: 600;
    
}


.input10 button:hover {
    background: rgb(6, 184, 6);
}

.trybtn {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 9px;
    background-color: #080A41;
}

.trybtn a {
    text-decoration: none;
    color: white;
    font-weight: 600;

}

.hero-btn {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1em;
}

.hero1 {
    
    width: 80%;
    margin: 90px auto;
}

.hero1 h1 {
    font-size: 4.5em;
    color: white;
    text-align: center;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.hero1 p {
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

.heroo {
    background-color: #151B23;
    width: 90%;
    height: max-content;
    margin: auto;
}

.moving-img {
    
    display: flex;
    gap: 2em;
    margin-top: 100px;
    margin-bottom: 70px;
    /* background-color: #0D1117; */
}

.plan {
    height: 70px;
    width: 620px;

    border: 2px solid rgb(234, 217, 217);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.sec-but {
    overflow: hidden;
    border-top: 1px solid rgb(213, 193, 193);

}

.plan .planbtn {
    height: 50px;
    width: 90px;
    background-color: #080A41;
    border-radius: 60px;
    border: none;
}

.plan .planbtn a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}

.planbtn:hover {
    background-color: #393B67;
}

.plan2 {
    width: 40%;
    margin: auto;
    padding-top: 50px;
}

.plan2 p {
    color: white;
    font-size: 1em;
    text-align: center;

}

.secsec {
    width: 100%;
    background-color: #151B23;
    border-top: 1px solid rgb(140, 140, 140);
    }

.sect4 {
    width: 80%;
    margin: 50px auto;
    text-align: center;

}

.sect4 h1 {
    font-size: 3em;
    color: white;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding-bottom: 30px;
}

.sect4 p {
    font-size: 1.5em;
    color: white;
    margin-top: -20px;
    padding-bottom: 90px;
    text-align: center;
    font-family: "Plus Jakarta Sans", serif;
}

.secvid {
    width: 35%;
    margin: -10px auto;
   
}

.workfast {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
        "card1 card2"
        "card1 card3"

    ;
    background-color: #151B23;

}

.sec6 {
    width: 100%;
    margin-top: 20px;
    background-color: #151B23;
    border-top: 1px solid rgb(112, 80, 16);
    border-bottom: 1px solid rgb(112, 80, 16);
}

.card1 {
    border: 1px solid rgb(112, 80, 16);
    grid-area: card1;
    background-color: #151B23;
   
    height: 500px;
    font-size: 1.2em;
    padding: 20px 30px;
    color: #d8d8d8;

}

.card2 {
    border: 1px solid rgb(112, 80, 16);
    grid-area: card2;
    color: #d8d8d8;
    font-size: 1.5em;
    padding: 20px 30px;
    background-color: #151B23;

 }

.card3 {
    border: 1px solid rgb(112, 80, 16);
    grid-area: card3;
    font-size: 1.5em;
    padding: 20px 30px;
    color: #d8d8d8;
    background-color: #151B23;
    
}

.card {
    height: 250px;

    background-color: #151B23;

}

.card a {
    color: rgb(76, 123, 232);
    text-decoration: none;
    font-size: .8em;
}

.card1 a {
    color: rgb(76, 123, 232);
    text-decoration: none;
}
.secoo7{
    border-bottom: 1px solid rgb(230, 197, 197);
}
.sec7{
    width: 85%;
    margin: auto;
    border: 3px solid white;
    height: 80vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.section7 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 90px 50px;
}
.text7{
    color: white;
}
.text7 h3{
    font-size: 1.9em;
}
.box{
    color: white;
}
.sec8{
    width: 100%;
    margin: auto;
    background-color: #151B23;
    border-bottom: 1px solid rgb(230, 197, 197);

}
.section8 {
    width: 85%;
    margin: auto;
    
}
.section8 a{
    /* padding-bottom : 20px; */
    color: rgb(27, 148, 196);
    text-decoration: none;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(3, 2fr);

}
.grid2{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.box1 {
    border: 1px solid rgb(112, 80, 16);
    font-size: 1.45em;
    padding: 20px 30px;
    color: #d8d8d8;

}

.box2 {
    border: 1px solid rgb(112, 80, 16);
    color: #d8d8d8;
    font-size: 1.5em;
    padding: 20px 30px;

}

.box3 {
    border: 1px solid rgb(112, 80, 16);
    font-size: 1.5em;
    padding: 20px 30px;
    color: #d8d8d8;
    
}
.box img{
    display: flex;
    justify-content: baseline;
    align-items: end;
    padding-top: 50px;
}

.box4 {
    border: 1px solid rgb(112, 80, 16);
    font-size: 1.5em;
    padding: 20px 30px;

    width: 100%;
    /* width: 500px; */
    color: #d8d8d8;
    
}
.box5 {
    border: 1px solid rgb(112, 80, 16);
    font-size: 1.5em;
    padding: 20px 30px;
    color: #d8d8d8;
    /* width: 500px; */
    
    
}
.sect9 h3{
    color: white;
}
.sect9 p{
    color: rgb(206, 195, 195);

}
.sect9 a{
    color: skyblue;
    margin-bottom: 90px;
}
.sect9{
    width: 100%;
    margin: auto;

}
.section9{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    /* align-items: center; */
}
.accimg{
    width: 100%;
    margin: auto;
}
.accordion{
    border: none;
    padding-top: 50px;
    
}
.accordion-item{
    background-color: aqua;
    color: red;
    border: none;
}
#collapseOne{
    background-color: #151B23;
    color: white;
    border: none;

}
#collapseTwo {
    background-color: #151B23;
    color: white;


}
#collapseThree{
    background-color: #151B23;
    color: white;


}
.collapsed{
    background-color: #151B23;
    color: red;
    border: none;

}
.accordion .accordion-button{
    background-color: #151B23;
    color: white;
    border: none;
}

.section10{
    width: 80%;
    margin: auto;
    background-image: url('../images/mercedes-benz-d8f89b041561.webp');
    contain: content;
    
}
.sect10 {
    width: 50%;
    margin: 50px auto;
    text-align: center;

}

.section11 {
    width: 85%;
    margin: auto;

}
.section11 p {
    color: #e3e5e8;
}

.b11 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2em; */
}
.box11 {
    border: 1px solid wheat;
    /* border-radius: 30px; */
    width: 602px;
    height: 500px;

    color: white;
    padding: 50px 50px;
    text-wrap: wrap;
    background-color: #151B23;
}

.b11 a {
    color: white;
    margin-top: 140px;
}

.b11 .p1 {
    padding-bottom: 70px;
}

.b11 .p2 {
    padding-bottom: 25px;
}
.seco11{
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}

.section13{
    width: 95%;
    margin: auto;
}
.figma1{
    border: 2px solid wheat;
    height: max-content;
    /* width: max-content; */
    padding: 20px 40px;
}
.figsec{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(3, 2fr); */
    justify-content: center;
}
.figlogo{
    /* padding-bottom: 250px; */
    padding-right: 50px;
}
.figtext{
    color: white;
}
.figtext h3{
    padding-top: 210px;
}
.figtext .tbox{
    padding-top: 220px;
}
.vanva{
    width: 85%;
    margin: auto;
}
.seco14 {
    background-color: #0D1117;
}
.sect14{
        width: 100%;
        margin: 50px auto;
}

.section14 {
    width: 85%;
    margin: auto;
    text-align: center;
    /* border: 1px solid white; */
    border-radius: 50px;
    background-size: cover;
    contain: content;
    background-color: #0D1117;


}

.section14 h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.section14 p {
    color: #6E7681;
    line-height: 30px;
    font-family: "Plus Jakarta Sans", serif;
}

.herobut14 {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    text-decoration: none;
}

.herobut14 a {
    color: black;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
}

.herobut14 .b1 {
    background-color: green;
    color: white;
    border: none;
    /* border: 5px solid rgb(74, 193, 233); */

}

.herobut14 .b2 {
    background-color: #0D1117;
    color: white;


}
.section15{
    width: 85%;
    margin: 50px auto;
    color: white;
}
.section15 a{
    color: skyblue;
}






.bottomline{
    background-color: #151B23;

}
.icondiv{
    width: 85%;
    margin: auto;

}
.downlogoo li a{
    text-decoration: none;
    
    

}
.downlogoo ul a{
    color: white;
    text-decoration: none;
}
.downlogoo ul{
    
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 20px 10px;
    font-size: .8em;
    color: white;
    
    
}
.downlogoo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 @media(max-width:1300) {
    .input10 input {
        width: 60%;
    }

    .input10 {
        width: 710px;
    }

    .input10 button {
        width: 160px;
        margin-left: 5px;

    }
}


@media(max-width:1270px) {
    .search-bar {
        display: none !important;
    }

    .fa-magnifying-glass {
        display: block !important;
    }

    .hero1 {
        .hero1 {
            width: 90%;
            margin: 90px auto;
        }

    }

    .hero1 h1 {
        font-size: 3.4em;
    }

    .hero1 p {
        font-size: 1.1em;
    }

    .input10 input {
        width: 58%;
    }

    .input10 {
        width: 800px;
    }

    .input10 button {
        width: 200px;
        margin-left: 5px;

    }

    .plan2 {
        width: 60%;
        margin: auto;
    }

    .secsec {
        width: 100%;
    }

    .sect4 h1 {
        font-size: 2.5em;
    }

    .sect4 p {
        text-wrap: wrap;
    }
    .sec7{
        width: 85%;
        margin: auto;
        
        /* height: 50vh; */
        height: max-content;
    }
    .section8{
        width: 90%;
        margin: auto;
    }
    .downlogoo ul{
        flex-wrap: wrap;
    }

}

@media(max-width:1024px) {
    .hero1 {
        width: 80%;
        margin: 100px auto;
    }

    .hero1 h1 {
        font-size: 3.4em;
    }

    .sect4 {
        width: 90%;
    }

    .plan2 {
        width: 70%;
        margin: auto;
    }

    .sect4 h1 {
        font-size: 3em;
    }

    .sect4 p {
        text-wrap: wrap;
    }

    .workfast {
        width: 100%;
    }
    

}

@media(max-width:1012px) {
    header {
        display: none;
    }

    .head2 {
        display: block;
    }
    .section7{
        width: 100%;
        overflow: hidden;  
    }
    .sec7{
        width: 100%;
    }
    .image7 img{
        width: 120%;
        
        
    }
    .grid1{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .grid2{
        display: block;
    }
    .box11{
        height: 600px;
    }
    .figsec{
        grid-template-columns: repeat(1, 2fr);
    }
    .figtext h3{
        padding-top: 110px;
    }
    

}

@media(max-width:800px) {
    .hero1 {
        width: 80%;
        margin: 100px auto;
    }

    .hero1 h1 {
        font-size: 3em;
    }

    .hero1 p {
        font-size: 1em;
    }

    .hero-btn {
        width: 100%;
    }

    .input10 input {
        width: 52%;
    }

    .input10 {
        width: 600px;
    }

    .input10 button {
        width: 200px;
        margin-left: 5px;

    }

    .plan2 {
        width: 80%;
        margin: auto;
    }

    .sect4 p {
        text-wrap: wrap;
    }

    .workfast {
        width: 100%;
    }
    .downlogoo{
        flex-wrap: wrap;
    }


}
@media(max-width:767px){
    .section11 .b11{
       
        flex-direction: column;
        
    }
    .box11{
        width: 95%;
        margin: auto;
        /* height: 400px; */
        height: max-content;
    }
   
}
@media(max-width:760px) {
    .hero-btn {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .plan2 {
        width: 90%;
        margin: auto;
    }

    .workfast {
        display: block;
    }

    .card1 {

        width: 100%;
        height: max-content;
    }

    .card {

        width: 100%;
        height: max-content;
    }
    .grid1{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
}

@media(max-width:660px) {
    .plan2 {
        width: 100%;
        /* margin:auto; */
    }
}